@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  color: #fff;
}

a {
  text-decoration: none;
}

/* btn-home */
.btn-home {
  background: #111;
  padding: 0.75rem 1rem;
  color: #fff;
  text-transform: uppercase;
  border: none;
  box-shadow: 1px 1px 3px #ddd;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn-home:hover {
  letter-spacing: 1.7px;
}
.navbar {
  position: fixed;
  background: rgba(0, 0, 0, 0.555);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 222;
}

/* sejajarkan */
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-toggle {
  border: transparent;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s linear;
}

.nav-toggle:hover {
  transform: scale(1.25);
}

/* nav-link */
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
}

.nav-link:hover {
  background: #ddd;
  color: #222;
}

/* hidden nav-links ul */
.nav-links {
  height: 0;
  overflow: hidden;
}

.show-links {
  height: auto;
}

.slide-img {
  height: 300px;
  width: 400px;
}

/* section-center */
.section-center {
  width: 80vw;
  max-width: 1170px;
  margin: 5rem auto;
}

.section {
  padding: 2rem 0;
}

/* main header */
.main-header {
  position: relative;
  min-height: 90vh;
  background: #222;
  display: grid;
  justify-content: start;
  align-items: center;
}

.main-text {
  /* font-family: 'Comforter', cursive; */
  padding: 3rem;
  font-family: 'Merriweather', serif;
}

.main-text h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.main-text p {
  max-width: 600px;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.main-img {
  display: none;
}
@media screen and (min-width: 992px) {
  .main-text {
    padding: 100px;
  }
  .main-img {
    display: block;
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    object-fit: cover;
  }
}
/* product */

.title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  /* font-family: 'Comforter', sans-serif; */
}

.line {
  border: 1px solid #ddd;
  margin: 0.5rem;
  width: 24rem;
}

.product {
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
}

.img-product-container {
  position: relative;
  margin-bottom: 0.5rem;
}

.img-product-container p {
  position: absolute;
  bottom: 0;
  content: '';
  background: #222;
  padding: 0.25rem;
}

.product-img {
  max-width: 100%;
  width: 300px;
  object-fit: cover;
}

.product-info h4 {
  text-transform: capitalize;
  letter-spacing: 1.5px;
  margin-bottom: 0.5rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .product-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .product-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* feature */

.feature {
  display: grid;
  gap: 2rem;
}
.feature img {
  width: 100%;
  border-radius: 0.5rem;
}

.feature-info h3 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: 1.4px;
}

.feature-info p {
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

/* pendapat */
.title-pendapat {
  text-align: center;
}

.person {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.feature-bg {
  background: #fff;
  color: #222;
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
}
.pendapat {
  max-width: 450px;
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
}

@media screen and (min-width: 992px) {
  .section-pendapat {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

/* footer */
footer {
  background: #222;
  padding: 2rem;
  text-align: center;
}

footer h3 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer a {
  color: #fff;
  font-size: 2rem;
}
